extends layout

block content
  h1 TQT MEME PAS MON GARS
  p SALUT ET BIEN VENU SUR LA BEST API (le groupe qui la test mérite 0)
  img(src="https://media.giphy.com/media/YWf50NNii3r4k/giphy-downsized-large.gif") 
